$primary-color: #FFFFFF;
$black: #212353;
$violet: #9C69E2;
$pink: #F063B8;
$blue: #D6B9FF;
$menuwhite: #F9F4FF;
$yellow: #FFC84D;
$lightyellow: #FFF3D7;
$orange: #EEAA12;
$width-tablet: 768px;
$width-bigtablet: 992px;
$width-desktop: 1320px;